@font-face
{
font-family: myFirstFont;
src: url('Assets/fonts/Hatton-Medium.otf'),
     url('Assets/fonts/Hatton-Medium.otf'); /* IE9 */
}
body {
    font-family: MyFirstFont;
    font-size: 18px;
    background: linear-gradient(-45deg, #fff, rgb(228, 239, 245), #EBF8FF, #F9FDFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>✨</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
    font-family: "MyFirstFont";
    padding: 10px;
    margin-left: 4em;
    text-align: center;
    color: #e73c7e;
    background-color: white;
    border-radius: 1px;
    padding: 20px;
    border-color: #e73c7e;
    border-radius: 0px;
    text-decoration: none;
}
.grid-container {
        display: grid;
        grid-gap: .2em;
        box-align: center;
        grid-template-columns: .5fr .5fr .5fr .5fr; 
        position: relative; 
        top: 75vh;   
}



.header{
    color: #000000;
    font-family: Inter 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .01 em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin-left: 2em;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  #subheading {
    letter-spacing: 1px;
    color: #e73c7e;
    font-weight: normal;
    font-family: monospace;
  }
  
  /* The typing effect */


.bgimage {
  height:100%;
  width: 100%;
  background-size:cover 100%;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 3.5rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 1px; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:#e73c7e }
}
.hero_desc {
  font-size: 20px;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #111;
}
.topnav {
  background-color:rgba(255, 255, 255, .1);
  overflow: hidden;
  top: 100%;
  z-index: 1000;
}
.topnav a {
  float: left;
  background-color:rgba(255, 255, 255, .1);
  z-index: 1000;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}
a:hover {
  background-color: #efefef;
  color: black;
}
.topnav a.active {
  background-color: #e73c7e;
  color: white;
  text-emphasis: bold;
}
.caption {
  color: #111;
  font-weight: bold;
  font-size: 24px;
}
.questions-section, .location-section,.introduction-section {
  text-align: left;
  font-size: 15px;
  margin-left: 40px;
  width: 50%;
  position: relative;
  top: 2vh;
}
.questions-section a {
  background-color: white;
  padding: 10px;
  
}
.about-section {
  margin-left: 40px;
  position: relative;
  top: 10vh;
  margin-bottom: 80px;
  color: #e73c7e;
}
.masthead-intro {
  position: relative;
  top:5vh;
  margin-left: 40px;
}
.about-image {
  width:25px;
  height: 25px;
  position: relative;
  left: 60%;
  top: 0%;
  
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
}

.portfolio h2 {
  flex-basis: 100%;
  text-align: center;
  margin: 50px auto 30px;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2px;
  color: #e73c7e;
}
.card {
  width: 25%;
  overflow: hidden;
  position: relative;
}
.card .content {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: -100px;
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100px;
  background: #fff;
}
.card .image {
  z-index: 1;
  height: 100%;
}
.card img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  transform: scale(1.2);
}

.card:hover .content {
  bottom: 0px;
  color: #e73c7e;
}

.card:hover .image img {
  transform: scale(1);
}

.card .content span:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #e73c7e;
  font-size: 16px;
}

.card .content span:last-child {
  font-size: 14px;
  color: #111;
  text-align: center;
  font-weight: 700;
}
.title-past{
  font-size: 36px;
}