@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

body {
  text-align:center;
  background-color:#72bcd4;
  color:#fff;
  font-family: Noto Sans JP;
  font-weight: bolder;
  font-size:36px;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
}

div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

div:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 3s ease-in-out;
  font-size: 30px;
}

div:last-of-type {
  width:30px;
  animation: reveal 5s infinite;
}

div:last-of-type span {
  margin-left:355px;
  animation: slidein s infinite;
}

@keyframes showup {
    0% {opacity:100;}
    20% {opacity: 50%;}
    80% {opacity:2%;}
    100% {opacity:0%;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:40px;}
    20% {opacity:1;width:40px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:955px;}
}


p {
  font-size:23px;
  color:#999;
  margin-top:200px;
}
a {
  position: fixed;
  font-family: sans-serif;
  top: 3%;
  left: 10%;
  font-size: 18px;
  color: #111111;
  
}
.home {
  position: fixed;
  font-family: sans-serif;
  top: 3%;
  left: 3%;
  font-size: 18px;
  color: #111111;
}
